<mat-toolbar class="header-toolbar" color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row between-xs middle-xs header-row">
        <nav>
          <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
          <a mat-button routerLink="/products" routerLinkActive="active">Productos</a>

          <ng-container *ngIf="!authService.isUser(); else loggedIn">
            <a mat-raised-button routerLink="/auth/login" routerLinkActive="active">Iniciar sesion</a>
            
            <a mat-raised-button routerLink="/auth/register" routerLinkActive="active">Registrate</a>
          </ng-container>

          <ng-template #loggedIn>
            <a mat-raised-button routerLink="/home" style="cursor: pointer;" (click)="authService.logOut()" routerLinkActive="active">Cerrar sesion</a>
          </ng-template>


        </nav>
        <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>