img{
    width: 38%;
    border-radius:270px;
}

.imgs{
    width: 15%;
    border-radius: 0px;
    margin: 2px;
}

p {
    font-family: 'Oswald', sans-serif;
}

mat-icon {
    margin: 2px;
}

col { 
    margin: 2px;
}