<section  id="service-detail-container" class="container">

    <div  id="title">
      <h2 >Producto - {{product.description}}</h2>
    </div>

    <hr>
<!-- 
    <div class="offset-lg-10 offset-sm-6">
      <button style="color: white;"  mat-raised-button color="primary">GUARDAR</button>
    </div> -->
    <div class="row">

      <div class="col-12">

    <mat-card>
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
           <div class="">
      <div class="row">
        <div class="col-lg-4">
          <div id="left-inputs" style="display: table-caption;">       
                    
            <mat-form-field appearance="standard" class="unset">
                <mat-label>Descripción</mat-label>
                <input  [(ngModel)] = "product.description" matInput placeholder="Descripción">
            </mat-form-field>  
            <mat-form-field appearance="standard" class="unset">
              <mat-label>Imagen</mat-label>
              <input [(ngModel)] = "product.image" matInput placeholder="Imagen">
          </mat-form-field>        
          </div>
          <div id="right-inputs" style="display: inline-grid;">
            <mat-form-field appearance="standard" class="unset">
              <mat-label>Precio</mat-label>
              <input  [(ngModel)] = "product.price" matInput placeholder="Precio">               
            </mat-form-field>
        </div>
        </div>
        <div class="col-lg-6" style="margin-top: 35px;">
          <img *ngIf="product.image===''" src="https://cdn.aarp.net/content/dam/aarp/health/caregiving/2018/03/1140-nutrients-food-loved-ones-caregiving-esp.imgcache.rev.web.700.402.jpg" alt="">
          <img *ngIf="product.image!==''" [src]="product.image" alt="">
        </div>
      </div>
    </div>
          
      </mat-card-content>
    </mat-card>


  </div>
  </div>

  <button style="position: absolute; top: 85%; left: 90%" (click)="saveProduct($event)" mat-fab ><mat-icon>save</mat-icon></button>
